/* background */

html {
    overflow-y:scroll;
    cursor: url("../img/fruit/straw.png"), auto;
}

a {
    cursor: url("../img/fruit/straw.png"), auto;
}

body {
    background-color: #f2b0c2;
    background-image: url("../img/wavecut.png");
    background-blend-mode: lighten;
    background-size:150px;
    background-repeat: repeat;
    color: white;
    margin: 0px;
    font-family: "Tahoma";
}

/* header */
h1 {
    padding-left:30px;
    display:flex;
    align-items:center;
    margin-top:0px;
    margin-bottom:0px;
    text-decoration:none;
}

.name {
    font-family:'Poppins', 'Montserrat', 'Impact', sans-serif;
    font-size: 55px;
    font-weight: 800;
    color:#bc1a4d;
    text-align:middle;
    text-decoration:none;
}

h1::before {
    content: "";
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url("../img/BOWL STICKU.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:bottom;
    margin-right:20px;
    margin-top:0px;
}

.header {
    display:flex;
    padding: 15px;
    background: #d96282;
    background-image:url("../img/gray-floral.png");
    background-blend-mode:color-burn;
    background-repeat:repeat;
    background-size:250px;
    vertical-align: baseline;
    height: 75px;
    justify-content:space-between;
    z-index:3;
    animation: hero 1s ease-in-out;

}

/*navigation bar*/

.home {
    text-decoration:none;
}

.navbar {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    float:right;
    padding-right:30px;
}

.navbar li {
    margin-top:15px;
    font-family:'Poppins', 'Montserrat', 'Roboto';
    font-size:30px;
    float:right;
    gap:30px;
    text-decoration:none;
    margin-right:65px;
}


.navbar li a{
    display:block;
    color:rgb(251, 173, 190);
    padding:0px 10px;
    text-decoration:none;
    letter-spacing:1px;
    font-weight:500;
}

.navbar li:hover{
    background-color:rgba(199, 51, 93, 0.711);
    color:rgb(236, 178, 193);
    border-radius:45px;
    transition: background-color 0.3s ease-in-out;
}

/*
==================================================
--------------------------------------------------
                  END OF HEADER
--------------------------------------------------
==================================================
*/

 /*~~~~~~~~~~~~~~~~~~~~~~~~
 about me ish
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h2 {
    font-family: 'Poppins', 'Montserrat', 'Impact';
    font-weight:400px;
    font-size:60px;
    margin-top:0px;
    margin-bottom:0px;
}

.about-pg {
    height: fit-content;
}

.container {
    display:grid;
    width:100%;
    grid-template-rows: repeat(10, 100px);
    grid-template-columns: repeat(15, 100px);
    margin: 0 auto;
    justify-content:center;
}

.con-1{
    color:#b6284c;
    font-family: 'Poppins', 'Montserrat', 'Impact';
    font-size: 5em;
    font-weight: 800;
    text-align:center;
    align-items: flex-end;
    grid-area: 1 / 7 / span 1 / span 4;
}

@keyframes me {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.con-2{
    position:relative;
    grid-area: 2 / 6 / span 8 / span 5;
    right:90px;
    top:45px;
    animation: me 0.9s ease-in-out;
    animation-fill-mode: forwards;
    opacity:0;
}

.con-3 {
    grid-area: 2 / 10 / span 3 / span 4;
    position:relative;
    left:30px;
    top:60px;
    /*animation stuff*/
    animation-name: slideIn-2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity:0;
    animation-delay:0.2s;
}

.con-4{
    grid-area: 3 / 11 / span 2 / span 2;
    width: 270px;
    height: 240px;
    font-family: 'Poppins', 'Helvetica', 'Inter', sans-serif;
    font-weight: 500;
    line-height: 19px;
    text-align:center;
    position:relative;
    right:8px;
    top:35px;
    z-index:5;
    color: #aa7cd6;
    text-shadow: 0px 1px 2px rgba(52, 29, 22, 0.49);
    /*animation stuff*/
    animation-name: slideIn-2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    opacity:0;
}

.con-5 {
    grid-area: 2 / 2 / span 3 / span 4;
    position: relative;
    bottom: 30px;
    left:70px;
    /*anmations tuff*/
    animation-name: slideIn-1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity:0;
}

.con-6 {
    grid-area: 2 / 3 / span 2 / span 2;
    width: 270px;
    height: 240px;
    font-family: 'Poppins', 'Helvetica', 'Inter', sans-serif;
    font-weight: 500;
    line-height: 19px;
    text-align:center;
    position:relative;
    left:40px;
    top:60px;
    z-index:5;
    color: #e94391;
    text-shadow: 0px 1px 2px rgba(52, 29, 22, 0.49);
    /*animation stuff*/
    animation-name: slideIn-1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity:0;
}

@keyframes slideIn-1 {
    from{
        opacity:0;
        transform: translateX(-400px) rotate(-12deg);
    }
    to{
        opacity:1;
        transform: translateX(0) rotate(-3deg);
    }
}

@keyframes slideIn-2 {
    from{
        opacity:0;
        transform: translateX(400px) rotate(12deg);
    }
    to{
        opacity:1;
        transform: translateX(0) rotate(3deg);
    }
}

@keyframes pop-out {
    from{
        opacity:0;
        transform: scale(0%);
    }   
    70%{
        transform: scale(120%);
    }
    100%{
        opacity:1;
        transform: scale(100%);
    }
}

.con-7{
    grid-area: 5 / 2 / span 2 / span 2;
    position:relative;
    top:50px;
    right:50px;
    transform: rotate(-3deg);
    animation: pop-out 0.65s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity:0;
}

.con-8 {
    grid-area: 6 / 13 / span 3 / span 3;
    position:relative;
    right:40px;
    bottom:20px;
    transform: rotate(4deg);
    animation: pop-out 0.65s ease-in-out;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    opacity:0;
}

.con-9 {
    grid-area: 9 / 3 / span 1 / span 2;
    position:relative;
    right:40px;
    transform: rotate(12deg);
    animation: pop-out 0.65s ease-in-out;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
    opacity:0;
}

.con-10 {
    grid-area: 10 / 13 / span 1 / span 3;
    position:relative;
    transform: rotate(-6deg);
    right:180px;
    bottom:15px;
    animation: pop-out 0.65s ease-in-out;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    opacity:0;
}

/* FRUITSSSSSSSSSSSSS */

.con-11 {
    grid-area: 3 / 15 / span 1 / span 1;
    position:relative;
    right:50px;
    bottom:30px;
    transform:rotate(9deg);
}

.con-12 {
    grid-area: 8 / 4 / span 1 / span 1;
    position:relative;
    left:25px;
    bottom:20px;
}

.con-13 {
    grid-area: 2 / 2 / span 1 / span 1;
    position:relative;
    right:35px;
    bottom:50px;
}

.con-14 {
    grid-area: 5 / 5 / span 1 / span 1;
    position:relative;
    top:30px;
}

.con-15 {
    grid-area: 9 / 15 / span 1 / span 1;
    position:relative;
    transform:rotate(-16deg);
}

.con-16 {
    grid-area: 1 / 11 / span 1 / span 1;
    position:relative;
    top:30px;
}

.con-17 {
    grid-area: 8 / 12 / span 1 / span 1;
    position:relative;
    left:20px;
}

.con-18 {
    grid-area: 10 / 1 / span 1 / span 1;
    position:relative;
    left:48px;
    top:25px;
}

.con-19 {
    grid-area: 5 / 1 / span 1 / span 1;
    position:relative;
    bottom: 60px;
}

@keyframes fly-left{
    from{
        opacity:0;
        transform: translateX(-200px) rotate(-40deg);
    }
    to{
        opacity:1;
        transform: translateX(0) rotate(0);
    }
}

@keyframes fly-right{
    from{
        opacity:0;
        transform: translateX(200px) rotate(40deg);
    }
    to{
        opacity:1;
        transform: translateX(0) rotate(0);
    }
}

.r-fruit{
    animation-name: fly-right;
    animation-duration: 0.65s;
    animation-delay: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity:0;
}

.l-fruit{
    animation-name: fly-left;
    animation-duration: 0.65s;
    animation-delay: 0.45s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity:0;
}

 /*~~~~~~~~~~~~~~~~~~~~~~~~
blog homescreen
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.full {
    display:flex;
}

.blogposts {
    margin: 40px 50px 25px 65px;
}

.blogtitle {
    font-size:40px;
    font-family: 'Poppins','Roboto', sans-serif;
    font-weight:600;
    letter-spacing:1px;
    margin-bottom: 20px;
    color:#bc1a4d;
}


.artdirect {
    text-decoration:none;
    color:inherit;
    display:block;
    max-height:361.2px;
}

.blogdisplay {
    display:flex;
    gap:30px;
    align-content:space-around;
    flex-wrap:wrap;
}

.artimg {
    margin-bottom:0px;
    border-radius:10px;
}

.bloginfo {
    font-family: 'Montserrat','Roboto';
    font-weight:100px;
    background: #d36786;
    border-radius:20px;
    width:300px;
    height:auto;
    padding:20px;
    box-shadow: 5px 5px #be2253;
    border: 2px solid #bc1a4d;
}

.bloginfo:hover {
    font-family: 'Montserrat','Roboto';
    font-weight:100px;
    background-color:transparent;
    border-radius:18px;
    border:3px solid #d0466d;
    color:#b92451;
    width:295px;
    height:auto;
    padding:20px;
    transform: rotate(1deg) translateY(-10px);
    transition:transform 0.3s ease;
}

.arttitle {
    color:#ffe8ef;
    font-size:21px;
    margin-top:7px;
    margin-bottom: 2px;
}

.date {
    color:#bc1a4d;
    margin: 1px 0px 5px 0px;
}
.artdesc {
    color:#94002f;
    font-size:15px;
    margin: 8px 0px 8px 0px;
}

ul.categories {
    list-style: none;
    display:flex;
    margin:0;
    justify-content:center;
    gap:7px;
    padding:0px;
    flex-wrap:wrap;
}

.categories li {
    font-family: 'Montserrat','Roboto';
    font-size:17px;
    margin:5px;
    padding: 1px 5px;
    gap:7px;
    background-color:#a30d3a;
    color:#fcc6d5;
    border-radius:25px;
}

.categories li:hover {
    font-family: 'Montserrat','Roboto';
    font-size:18px;
    color:#a30d3a;
    margin:5px;
    border:2px solid #a30d3a;
    border-radius:25px;
    background-color: #d0466d;
    padding: 0 2px;
}

 /*~~~~~~~~~~~~~~~~~~~~~~~~
blog post formatting
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.back {
    margin:0px 0px 25px 0px;
    padding:0px;
    text-decoration:none;
    color:#d0466d;
}

.back:hover {
    color: #d0466d;
    background-color:#ffeff3;
    width:115px;
}

.backlink {
    text-decoration:none;
    color:#d0466d;
}

.blog {
    margin: 25px 105px 50px 115px;
}

.artheader {
    border:2.5px solid #be2253;
    box-shadow: 4px 4px #be2253;
    border-radius:27px;
    
}

.titledisplay {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight:500px;
    background-color:#d0466d;
    background-image:url(../img/swirl.png);
    background-repeat:repeat;
    padding:20px 25px;
    line-height:1.1;
    color:#ffebf0;
    border-radius: 25px 25px 0px 0px;
}

.infobar {
    display:flex;
    justify-content:space-between;
    background-color:#e27391;
    padding:5px 25px 10px 25px;
    border-radius: 0px 0px 25px 25px;
    color:#ffdce5;
    letter-spacing:1px;
    font-family:'Montserrat','Roboto', sans-serif;
    font-weight:500;
}

.a-date {
    font-size:18px;
}

.a-genre {
    font-size:18px;
}

article {
    font-family: 'Roboto';
    font-size:18px;
    text-align:justify;
    margin: 0px 20px 0px 20px;
    color:#94062f;
}

.artsec img.img-right {
    margin-left:24px;
    margin-bottom:12px;
    float:right;
    border-radius: 15px;
}

.artsec img.img-left {
    margin-right:24px;
    margin-bottom:12px;
    float:left;
    border-radius:15px;
}

.artsec p{
    line-height:1.2;
    margin: 20px 0px 20px 0px;
}

.a-header {
    margin-bottom:2px;
}

.img-cap-r {
    width: 350px;
    float:right;
    margin-bottom:10px;
    align-items:center;
    display:flex;
    flex-direction:column;
    text-align:center;
    font-size:15px;
    color:#b6284c;
}

.img-cap-l {
    width:450px;
    text-wrap:inherit;
    margin:20px 40px 20px 0px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    float:left;
    font-size:15px;
    color:#b6284c;
    align-items:center;
    text-align:center;
    padding:0px 40px 0px 0px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                LORDE ARTICLE SPECIAL
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.lorde {
    background-color: #d6efff;
    background-image: url("../img/soft-wallpaper.png");
    background-blend-mode: multiply;
    background-size:500px;
    background-repeat: repeat;
    color: white;
    margin: 0px;
    font-family: "Tahoma";
}

/* header */
.lorde h1 {
    padding-left:30px;
    display:flex;
    align-items:center;
    margin-top:0px;
    margin-bottom:0px;
    text-decoration:none;
}

.lorde .name {
    font-family:'Michroma','Poppins', 'Montserrat', 'Impact', sans-serif;
    font-size: 65px;
    font-weight: 400;
    color:rgb(255, 255, 255);
    text-align:middle;
    text-decoration:none;
}

.lorde h1::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../img/virgin.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:bottom;
    margin-right:20px;
    margin-top:0px;
}

.lorde .header {
    display:flex;
    padding: 15px;
    background: #0384bc;
    background-image:url("../img/asfalt-dark.png");
    background-blend-mode:color-burn;
    background-repeat:repeat;
    background-size:250px;
    vertical-align: baseline;
    height: 100px;
    justify-content:space-between;
    box-shadow: 0px 0px 10px #1a27bc91;
}

/*navigation bar*/

.lorde .home {
    text-decoration:none;
}

.lorde .navbar {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    float:right;
    padding-right:30px;
}

.lorde ul li {
    margin-top:35px;
    font-family:'Times New Roman','Poppins', 'Montserrat', 'Roboto';
    font-size:30px;
    float:right;
    gap:30px;
    text-decoration:none;
    margin-right:65px;
}


.lorde li a{
    display:block;
    color:#e6f3fb;
    padding:0px 10px;
    text-decoration:none;
    letter-spacing:1px;
}

.lorde .navbar li:hover{
    background-color:rgba(255, 255, 255, 0.451);
    color:rgb(67, 107, 207);
}

.lorde .back {
    margin:0px 0px 25px 0px;
    padding:0px;
    text-decoration:none;
    color:#44c1ff;
}

.lorde .back:hover {
    color: #0038df;
    background-color:#ffeff3;
    width:115px;
}

/* BLOG CONTENTS */

.lorde .backlink {
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration:none;
    color:#1374b1;
}

.lorde .blog {
    margin: 25px 105px 50px 115px;
}

.lorde .artheader {
    border:2px solid #536ad0e5;
    box-shadow: 3px 3px 10px rgba(63, 64, 68, 0.333);    
}

.lorde .titledisplay {
    font-family: 'Michroma','Montserrat', 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight:500px;
    background-color:#1c96cc;
    background-image:url(../img/light-paper-fibers.png);
    background-repeat:repeat;
    padding:20px 25px;
    line-height:1.1;
    color:#ffffff;
    letter-spacing:1.5px;
}

.lorde .infobar {
    display:flex;
    justify-content:space-between;
    background-color:#d5edff;
    padding:7px 25px 8px 25px;
    color:#1c96cc;
    letter-spacing:1px;
    font-family: "Times New Roman", "Times", serif;
}

.lorde .a-date {
    font-size:18px;
}

.lorde .a-genre {
    font-size:18px;
}

.lorde article {
    font-family: 'Times New Roman','Times',serif;
    font-size:18px;
    text-align:justify;
    margin: 0px 20px 0px 20px;
    color:#025882;
}

.lorde .artsec img.img-right {
    margin-left:24px;
    margin-bottom:12px;
    float:right;
    border-radius: 15px;
}

.artsec img.img-left {
    margin-right:24px;
    margin-bottom:12px;
    float:left;
    border-radius:15px;
}

.artsec p{
    line-height:1.2;
    margin: 20px 0px 20px 0px;
}

.a-header {
    margin-bottom:2px;
}

.img-cap-r {
    width: 350px;
    float:right;
    margin-bottom:10px;
    align-items:center;
    display:flex;
    flex-direction:column;
    text-align:center;
    font-size:15px;
    color:#b6284c;
}

.img-cap-l {
    width:450px;
    text-wrap:inherit;
    margin:20px 40px 20px 0px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    float:left;
    font-size:15px;
    color:#b6284c;
    align-items:center;
    text-align:center;
    padding:0px 40px 0px 0px;
}

/* ============================================
===============================================
                    gallery
===============================================
=============================================*/


@keyframes gallery {
    from{
        opacity: 0%;
        transform: translateY(40px);
    }
    to{
        opacity:100%;
        transform: translateY(0px);
    }
}

@keyframes gal {
    from{
        opacity: 0%;
    }
    to{
        opacity:100%;
    }
}

.gal , .tack {
    opacity:0;
    animation-name: gal;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
}

 .gallery {
    position:relative;
    justify-content:center;
    margin-top:60px;
    margin-bottom:60px;
    display:grid;
    grid-template-rows: repeat(8, 100px);
    grid-template-columns: repeat(13, 100px);
    grid-auto-rows: 100px;
}

.gal-1 {
    grid-area: 1 / 1 / -1 / -1;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/cork-board.png");
    background-repeat:repeat;
    background-size:500px;
    background-blend-mode:multiply;
    background-color:#ffd7c6;
    border-radius: 35px;
    border: 25px solid rgb(121, 64, 43);
    box-shadow:
    -5px -5px 1px rgb(168, 85, 55),
    inset -5px -4px 1px rgb(168, 85, 55),
    inset -4px -4px 6px rgba(66, 38, 19, 0.748),
    6px 6px 1px rgb(79, 41, 28), 
    inset 6px 6px 2px rgb(79, 41, 28),
    5px 5px 10px rgba(109, 24, 24, 0.748),
    6px 6px 4px rgba(76, 44, 22, 0.748) inset;
    animation: gallery 1s ease-in-out;
}

.gal-7 {
    grid-area: 2 / 7 / span 2 / span 3;
    justify-self:flex-end;
    align-self:end;
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);
    transform:rotate(4deg);
    z-index:7;
    position:absolute;
    left: 90px;
}

.gal-2 {
    z-index:8;
    grid-area: 6 / 5 / span 3 / span 2;
    justify-self:right;
    align-content:baseline;
    transform: rotate(4deg);
    box-shadow:1px 1px 4px rgb(52, 29, 22);
    position:absolute;
    bottom: 60px;
    left:20px;
}

.gal-3 {
    z-index:9;
    grid-area:3 / 2 / span 3 / span 3;
    box-shadow:1px 1px 4px rgb(52, 29, 22);
    transform: rotate(2deg);
    position:absolute;
    top: 45px;
}

.gal:hover{
    transform: rotate(0deg) scale(1.35);
    transition: transform 0.3s ease;
    z-index:15;
}

.gal-4 {
    z-index:8;
    grid-area: 1 / 5 / span 4 / span 3;
    justify-self: start;
    align-self:center;
    transform: rotate(-4deg);
    position:absolute;
    box-shadow:1px 1px 4px rgb(52, 29, 22);
}

.gal-5 {
    z-index:7;
    grid-area: 6 / 8 / span 2 / span 2;
    transform: rotate(-2deg);
    box-shadow:1px 1px 4px rgb(52, 29, 22);
    position:absolute;
    top: 2px;
}

.gal-6 {
    z-index:5;
    grid-area: 6 / 11 / span 4 / span 2;
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);
    transform: rotate(2deg);
    position:absolute;
    top:20px;
}

.gal-8 {
    z-index:3;
    border-radius:150px;
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);    
    grid-area: 2 / 3 / span 2 / span 2;
    position:absolute;
    right: 75px;
    bottom: 90px;
}

.gal-9 {  /* MONTHHHHHHHHHHH */
    z-index:2;
    grid-area: 4 / 5 / 5 / span 3;
    position:absolute;
    top: 25px;
    left: 24px;
    transform:rotate(-2deg);
    animation-name: gal;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay:0.8s;
    opacity:0;
}

.gal-10 { /* song note */
    z-index:8;
    grid-area: 7 / 2 / span 2 / span 2;
    background-color:rgb(203, 236, 255);
    padding: 50px 10px 20px 10px;
    width: 200px;
    height: fit-content;
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);
    color:black;
    text-align:center;
    font-family:'Times New Roman', serif;
    position:absolute;
    right:10px;
    transform: rotate(-2deg);
}

.gal-11 { /* to did list */
    font-family:cursive;
    line-height: 18px;
    z-index:8;
    grid-area: 4 / 10 / span 3 / span 2;
    color:rgb(43, 42, 42);
    background-color: rgb(255, 248, 206);
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
    background-size: 375px;
    padding-top:40px;
    padding: 35px 25px 40px 25px;
    height: 180px;
    width: 160px;
    text-align: left;
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);
    transform: rotate(-3deg);
    position: absolute;
    bottom: 70px;
}

.gal-12 {
    z-index:7;
    grid-area: 2 / 9 / 3 / 10;
    position:absolute;
    right:20px;
    top:10px;
}

.gal-13 {
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);
    z-index:7;
    grid-area: 1 / 11 / span 4 / span 3;
    transform: rotate(1deg);
    position:absolute;
    right:20px;
    top:30px;
}

/* inner tack grid */

.tack-grid {
    position:relative;
    grid-area: 2 / 2 / 8 / 13;
    display:grid;
    grid-template-rows: repeat(12, 50px);
    grid-template-columns: repeat(23, 50px);
}

.tack-1 {
    z-index:10;
    grid-area: 1 / 4 / 2 / 5;
    position:absolute;
    right: 20px;
    bottom: 40px;
}

.tack-2 {
    z-index:10;
    grid-area: 1 / 9 / 1 / 10;
    position:absolute;
    bottom:55px;
    right: 15px;
}

.tack-3 {
    z-index:10;
    grid-area: 1 / 21 / 1 / 22;
    position:absolute;
    bottom: 60px;
    left:20px;
}

.tack-4 {
    z-index:10;
    grid-area: 4 / 4 / 4 / 5;
    position:absolute;
    bottom: 17px;
    right:20px;
}

.tack-5 {
    z-index:10;
    grid-area: 9 / 14 / 10 / 15;
    position:absolute;
    bottom:10px;
    left:20px;
}

.tack-6 {
    z-index:10;
    grid-area: 4 / 19 / span 1 / span 1;
    position:absolute;
    top: 15px;
    right:65px;
}

.tack-7 {
    z-index:10;
    grid-area: 10 / 21 / span 1 /span 1;
    justify-self:flex-end;
    position:absolute;
    bottom:22px;
}

.tack-8 {
    z-index:8;
    grid-area: 11 / 2 / span 1 / span 1;
    position:absolute;
    top:0px;
    right:5px;
}

.tack-9 {
    z-index:10;
    grid-area: 1 / 15 / span 1 / span 1;
    position:absolute;
    right:10px; 
}

.tack-10 {
    z-index:10;
    grid-area: 8 / 9 / span 1 / span 1;
    position:absolute;
    left: 20px;
}

.tack-11 {
    z-index:10;
    grid-area: 12 / 17 / span 1 / span 1;
    position:absolute;
    left: 30px;
}

.tack-12 {
    z-index:10;
    grid-area: 2 / 1 / span 1 / span 1;
    position:absolute;
    right: 20px;
}