body {
    background-color: rgb(218, 151, 182);
    background-image: url("../img/wavecut.png");
    background-blend-mode: lighten;
    background-repeat: repeat;
    color: white;
    margin: 20px;
    font-family: "Tahoma";
}

h1 {
    font-size: 70px;
    font-weight: 500;
    margin: 10px;
}