/* background */

html {
    overflow-y:scroll;
    cursor: url("../img/fruit/straw.png"), auto;
}

a {
    cursor: url("../img/fruit/straw.png"), auto;
}

body {
    background-color: rgb(234, 160, 180);
    background-image: url("../img/wavecut.png");
    background-blend-mode: lighten;
    background-size:150px;
    background-repeat: repeat;
    color: white;
    margin: 0px;
    font-family: "Tahoma";
}

/* header */
h1 {
    padding-left:30px;
    display:flex;
    align-items:center;
    margin-top:0px;
    margin-bottom:0px;
    text-decoration:none;
}

.name {
    font-family:'Poppins', 'Montserrat', 'Impact', sans-serif;
    font-size: 55px;
    font-weight: 800;
    color:#bc1a4d;
    text-align:middle;
    text-decoration:none;
}

h1::before {
    content: "";
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url("../img/BOWL STICKU.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:bottom;
    margin-right:20px;
    margin-top:0px;
}

.header {
    display:flex;
    padding: 15px;
    background: #d96282;
    background-image:url("../img/gray-floral.png");
    background-blend-mode:color-burn;
    background-repeat:repeat;
    background-size:250px;
    vertical-align: baseline;
    height: 75px;
    justify-content:space-between;
    z-index:3;
    animation: hero 1s ease-in-out;

}

/*navigation bar*/

.home {
    text-decoration:none;
}

.navbar {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    float:right;
    padding-right:30px;
}

.navbar li {
    margin-top:15px;
    font-family:'Poppins', 'Montserrat', 'Roboto';
    font-size:30px;
    float:right;
    gap:30px;
    text-decoration:none;
    margin-right:65px;
}


.navbar li a{
    display:block;
    color:rgb(251, 173, 190);
    padding:0px 10px;
    text-decoration:none;
    letter-spacing:1px;
    font-weight:500;
}

.navbar li:hover{
    background-color:rgba(199, 51, 93, 0.711);
    color:rgb(236, 178, 193);
    border-radius:45px;
    transition: background-color 0.3s ease-in-out;
}

/* =====================================
            h   e   r   o
======================================*/

@keyframes hero{
    from{
        transform: translateY(-160px);
    }
    to{
        opacity:100%;
        transform: translateY(0);
    }
}

.hero {
    z-index:1;
    margin:0;
    background-image:url(../img/bear3.png);
    background-blend-mode:none;
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:bottom;
    background-color:rgb(171, 216, 255);
    height:615px;
    display:flex;
    justify-content: space-between;
    text-wrap:inherit;
    color:black;
    clip-path:ellipse(120% 90% at 50% 10%);
    box-shadow: 0px 7px 20px -15px rgb(25, 23, 151) inset;
    animation: hero 1s ease-in-out;
    z-index:-1;
}

.rating {
    margin-top:80px;
}

.hero-header {
    font-family: 'Belanosima', 'Montserrat', 'Roboto';
    font-size: 4.25em;
    font-weight:600;
    color:#b0f19e;
    text-shadow: 2px 2px 5px rgba(43, 41, 41, 0.508);
    width:675px;
    margin:5px auto 0px 0px;
    line-height:69px;
}

.hero-p {
    font-family:'Montserrat';
    font-weight:500;
    letter-spacing:1px;
    text-shadow: 1px 2px 4px rgb(18, 51, 18);
    color:#fff9f9;
    width:800px;
    font-size:18px;
    margin-top:12px;
}

.hero-text {
    display:flex;
    flex-direction: column;
    margin-right:500px;
    margin: 20px 0px 20px 80px;
    padding: 20px 40px 20px 40px;
    align-content:left;
}

.hero-button {
    font-family: 'Montserrat', 'Roboto';
    text-align:center;
    background: #b0f19e;
    text-decoration:none;
    text-wrap:inherit;
    width:225px;
    height:35px;
    margin-top:40px;
    padding: 10px 20px;
    align-content:center;
    border-radius: 50px;
}

.hero-button p {
    margin:0px;
    font-size:20px;
    font-weight:600;
}

.hero a {
    text-decoration:none;
    color:#32720d;
    width:225px;
    height:35px;
}

.hero a :hover {
    background-color:#2dcccc;
    color:rgb(36, 110, 147);
}

/* ============= below ================ */
.below {
    height:900px;
}

.bear {
    margin: 0px 75px 20px 75px;
    justify-content: center;
    display:flex;
    flex-wrap:nowrap;
    gap:16rem;
}

h3 {
    font-family: 'Montserrat';
    margin-top:15px;
    color:#db4b78;
    margin-bottom:30px;
    justify-self: center;
}

.below h2 {
    font-family: 'Poppins';
    font-size:60px;;
    font-weight:800px;
    color:#bc1a4d;
    margin-top:15px;
    margin-bottom:0px;
    justify-self: center;
}

.below p {
    font-size:16px;
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    color:#db4b78;
    justify-self:center;
    text-align:center;
    margin-bottom:40px;
    margin-top:0px;
}

.bears {
    margin-bottom:0px;
    max-width:170px;
    height:auto;
}

.bear-button {
    flex-direction:column;
    justify-content:center;
}

.bear-button h2 {
    font-size:40px;
    justify-self:center;
    margin-top:5px;
}

.bear-button img:hover{
    transform: rotate(-2deg) translateY(-7px);
    transition: transform 0.4s ease;
}