/* background */

html {
    overflow-y:scroll;
    cursor: url("../img/fruit/straw.png"), auto;
}

a {
    cursor: url("../img/fruit/straw.png"), auto;
}

body {
    background-color: #f2b0c2;
    background-image: url("../img/wavecut.png");
    background-blend-mode: lighten;
    background-size:150px;
    background-repeat: repeat;
    color: white;
    margin: 0px;
    font-family: "Tahoma";
}

/* header */
h1 {
    padding-left:30px;
    display:flex;
    align-items:center;
    margin-top:0px;
    margin-bottom:0px;
    text-decoration:none;
}

.name {
    font-family:'Poppins', 'Montserrat', 'Impact', sans-serif;
    font-size: 65px;
    font-weight: 800;
    color:#bc1a4d;
    text-align:middle;
    text-decoration:none;
}

h1::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../img/BOWL STICKU.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:bottom;
    margin-right:20px;
    margin-top:0px;
}

.header {
    display:flex;
    padding: 15px;
    background: #d96282;
    background-image:url("../img/gray-floral.png");
    background-blend-mode:color-burn;
    background-repeat:repeat;
    background-size:250px;
    vertical-align: baseline;
    height: 100px;
    justify-content:space-between;
    box-shadow: 0px 2px 4px #be22536b;
}

/*navigation bar*/

.home {
    text-decoration:none;
}

.navbar {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    float:right;
    padding-right:30px;
}

ul li {
    margin-top:35px;
    font-family:'Poppins', 'Montserrat', 'Roboto';
    font-size:30px;
    float:right;
    gap:30px;
    text-decoration:none;
    margin-right:65px;
}


li a{
    display:block;
    color:pink;
    padding:0px 10px;
    text-decoration:none;
    letter-spacing:1px;
}

.navbar li:hover{
    background-color:rgba(199, 51, 93, 0.711);
    color:rgb(236, 178, 193);
    border-radius:45px;
    transition: background-color 0.3s ease;
}

/*
==================================================
--------------------------------------------------
                  END OF HEADER
--------------------------------------------------
==================================================
*/

 /*~~~~~~~~~~~~~~~~~~~~~~~~
 about me ish
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.page {
    display:flex;
    gap:20px;
    text-align:justify;
    margin:100px;
    margin-left:150px;
}

.desc {
    margin-left:100px;
    margin-right:100px;
}

h2 {
    font-family: 'Poppins', 'Montserrat', 'Impact';
    font-weight:400px;
    font-size:60px;
    margin-top:0px;
    margin-bottom:0px;
}

p {
    margin: 0px;
    font-size: 16px;
}

.container {
    display:grid;
    grid-template-rows:100px 100px 100px 100px 100px;
    grid-template-columns:100px 100px 100px 100px 100px 1.25fr;
    grid-auto-rows: 100px;
}

.item-1 {
    grid-area: 1 / 1 / 6 / 6;
    background-color:transparent;
    align-content: space-around;
    justify-self: center;
    padding-left:15px;
}

.item-1 img {
    border-radius:250px;
    margin-top:20px;
    box-shadow: 2px 2px 7px rgba(199, 51, 93, 0.536);
}

.item-2 {
    padding:50px 45px;
    grid-area: 1 / 6 / 6 / -1;
    background-color:transparent;
}

.item-3 {
    grid-area: 1 / 1/ 6 / -1;
    background-color:transparent;
}

.item-4 {
    grid-area: 2 / 5 / 3 / -2;
    justify-self:left;
}

.item-5 {
    grid-area: 3 / 1 / 4 / 2;
    justify-self:right;
}

.item-6 {
    grid-area: 5 / 4 / 6 / 5;
    justify-self:right;
    align-content:center;
}
 /*~~~~~~~~~~~~~~~~~~~~~~~~
blog homescreen
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.full {
    display:flex;
}

.blogposts {
    margin: 40px 50px 25px 65px;
}

.blogtitle {
    font-size:40px;
    font-family: 'Poppins','Roboto', sans-serif;
    font-weight:600;
    letter-spacing:1px;
    margin-bottom: 20px;
    color:#bc1a4d;
}


.artdirect {
    text-decoration:none;
    color:inherit;
    display:block;
    max-height:361.2px;
}

.blogdisplay {
    display:flex;
    gap:30px;
    align-content:space-around;
    flex-wrap:wrap;
}

.artimg {
    margin-bottom:0px;
    border-radius:10px;
}

.bloginfo {
    font-family: 'Montserrat','Roboto';
    font-weight:100px;
    background: #d36786;
    border-radius:20px;
    width:300px;
    height:auto;
    padding:20px;
    box-shadow: 5px 5px #be2253;
    border: 2px solid #bc1a4d;
}

.bloginfo:hover {
    font-family: 'Montserrat','Roboto';
    font-weight:100px;
    background-color:transparent;
    border-radius:18px;
    border:3px solid #d0466d;
    color:#b92451;
    width:295px;
    height:auto;
    padding:20px;
    transform: rotate(1deg) translateY(-10px);
    transition:transform 0.3s ease;
}

.arttitle {
    color:#ffe8ef;
    font-size:21px;
    margin-top:7px;
    margin-bottom: 2px;
}

.date {
    color:#bc1a4d;
    margin: 1px 0px 5px 0px;
}
.artdesc {
    color:#94002f;
    font-size:15px;
    margin: 8px 0px 8px 0px;
}

ul.categories {
    list-style: none;
    display:flex;
    margin:0;
    justify-content:center;
    gap:7px;
    padding:0px;
    flex-wrap:wrap;
}

.categories li {
    font-family: 'Montserrat','Roboto';
    font-size:17px;
    margin:5px;
    padding: 1px 5px;
    gap:7px;
    background-color:#a30d3a;
    color:#fcc6d5;
    border-radius:25px;
}

.categories li:hover {
    font-family: 'Montserrat','Roboto';
    font-size:18px;
    color:#a30d3a;
    margin:5px;
    border:2px solid #a30d3a;
    border-radius:25px;
    background-color: #d0466d;
    padding: 0 2px;
}

 /*~~~~~~~~~~~~~~~~~~~~~~~~
blog post formatting
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.back {
    margin:0px 0px 25px 0px;
    padding:0px;
    text-decoration:none;
    color:#d0466d;
}

.back:hover {
    color: #d0466d;
    background-color:#ffeff3;
    width:115px;
}

.backlink {
    text-decoration:none;
    color:#d0466d;
}

.blog {
    margin: 25px 105px 50px 115px;
}

.artheader {
    border:2.5px solid #be2253;
    box-shadow: 4px 4px #be2253;
    border-radius:27px;
    
}

.titledisplay {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight:500px;
    background-color:#d0466d;
    background-image:url(../img/swirl.png);
    background-repeat:repeat;
    padding:20px 25px;
    line-height:1.1;
    color:#ffebf0;
    border-radius: 25px 25px 0px 0px;
}

.infobar {
    display:flex;
    justify-content:space-between;
    background-color:#e27391;
    padding:5px 25px 10px 25px;
    border-radius: 0px 0px 25px 25px;
    color:#ffdce5;
    letter-spacing:1px;
    font-family:'Montserrat','Roboto', sans-serif;
    font-weight:500;
}

.a-date {
    font-size:18px;
}

.a-genre {
    font-size:18px;
}

article {
    font-family: 'Roboto';
    font-size:18px;
    text-align:justify;
    margin: 0px 20px 0px 20px;
    color:#94062f;
}

.artsec img.img-right {
    margin-left:24px;
    margin-bottom:12px;
    float:right;
    border-radius: 15px;
}

.artsec img.img-left {
    margin-right:24px;
    margin-bottom:12px;
    float:left;
    border-radius:15px;
}

.artsec p{
    line-height:1.2;
    margin: 20px 0px 20px 0px;
}

.a-header {
    margin-bottom:2px;
}

.img-cap-r {
    width: 350px;
    float:right;
    margin-bottom:10px;
    align-items:center;
    display:flex;
    flex-direction:column;
    text-align:center;
    font-size:15px;
    color:#b6284c;
}

.img-cap-l {
    width:450px;
    text-wrap:inherit;
    margin:20px 40px 20px 0px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    float:left;
    font-size:15px;
    color:#b6284c;
    align-items:center;
    text-align:center;
    padding:0px 40px 0px 0px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                LORDE ARTICLE SPECIAL
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.lorde {
    background-color: #d6efff;
    background-image: url("../img/soft-wallpaper.png");
    background-blend-mode: multiply;
    background-size:500px;
    background-repeat: repeat;
    color: white;
    margin: 0px;
    font-family: "Tahoma";
}

/* header */
.lorde h1 {
    padding-left:30px;
    display:flex;
    align-items:center;
    margin-top:0px;
    margin-bottom:0px;
    text-decoration:none;
}

.lorde .name {
    font-family:'Michroma','Poppins', 'Montserrat', 'Impact', sans-serif;
    font-size: 65px;
    font-weight: 400;
    color:rgb(255, 255, 255);
    text-align:middle;
    text-decoration:none;
}

.lorde h1::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../img/virgin.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:bottom;
    margin-right:20px;
    margin-top:0px;
}

.lorde .header {
    display:flex;
    padding: 15px;
    background: #0384bc;
    background-image:url("../img/asfalt-dark.png");
    background-blend-mode:color-burn;
    background-repeat:repeat;
    background-size:250px;
    vertical-align: baseline;
    height: 100px;
    justify-content:space-between;
    box-shadow: 0px 0px 10px #1a27bc91;
}

/*navigation bar*/

.lorde .home {
    text-decoration:none;
}

.lorde .navbar {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    float:right;
    padding-right:30px;
}

.lorde ul li {
    margin-top:35px;
    font-family:'Times New Roman','Poppins', 'Montserrat', 'Roboto';
    font-size:30px;
    float:right;
    gap:30px;
    text-decoration:none;
    margin-right:65px;
}


.lorde li a{
    display:block;
    color:#e6f3fb;
    padding:0px 10px;
    text-decoration:none;
    letter-spacing:1px;
}

.lorde .navbar li:hover{
    background-color:rgba(255, 255, 255, 0.451);
    color:rgb(67, 107, 207);
}

.lorde .back {
    margin:0px 0px 25px 0px;
    padding:0px;
    text-decoration:none;
    color:#44c1ff;
}

.lorde .back:hover {
    color: #0038df;
    background-color:#ffeff3;
    width:115px;
}

/* BLOG CONTENTS */

.lorde .backlink {
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration:none;
    color:#1374b1;
}

.lorde .blog {
    margin: 25px 105px 50px 115px;
}

.lorde .artheader {
    border:2px solid #536ad0e5;
    box-shadow: 3px 3px 10px rgba(63, 64, 68, 0.333);    
}

.lorde .titledisplay {
    font-family: 'Michroma','Montserrat', 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight:500px;
    background-color:#1c96cc;
    background-image:url(../img/light-paper-fibers.png);
    background-repeat:repeat;
    padding:20px 25px;
    line-height:1.1;
    color:#ffffff;
    letter-spacing:1.5px;
}

.lorde .infobar {
    display:flex;
    justify-content:space-between;
    background-color:#d5edff;
    padding:7px 25px 8px 25px;
    color:#1c96cc;
    letter-spacing:1px;
    font-family: "Times New Roman", "Times", serif;
}

.lorde .a-date {
    font-size:18px;
}

.lorde .a-genre {
    font-size:18px;
}

.lorde article {
    font-family: 'Times New Roman','Times',serif;
    font-size:18px;
    text-align:justify;
    margin: 0px 20px 0px 20px;
    color:#025882;
}

.lorde .artsec img.img-right {
    margin-left:24px;
    margin-bottom:12px;
    float:right;
    border-radius: 15px;
}

.artsec img.img-left {
    margin-right:24px;
    margin-bottom:12px;
    float:left;
    border-radius:15px;
}

.artsec p{
    line-height:1.2;
    margin: 20px 0px 20px 0px;
}

.a-header {
    margin-bottom:2px;
}

.img-cap-r {
    width: 350px;
    float:right;
    margin-bottom:10px;
    align-items:center;
    display:flex;
    flex-direction:column;
    text-align:center;
    font-size:15px;
    color:#b6284c;
}

.img-cap-l {
    width:450px;
    text-wrap:inherit;
    margin:20px 40px 20px 0px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    float:left;
    font-size:15px;
    color:#b6284c;
    align-items:center;
    text-align:center;
    padding:0px 40px 0px 0px;
}

/* ============================================
===============================================
                    gallery
===============================================
=============================================*/

 .gallery {
    position:relative;
    justify-content:center;
    margin-top:60px;
    margin-bottom:60px;
    display:grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-auto-rows: 100px;
}

.gal-1 {
    grid-area: 1 / 1 / -1 / -1;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/cork-board.png");
    background-repeat:repeat;
    background-size:500px;
    background-blend-mode:multiply;
    background-color:#ffd7c6;
    border-radius: 35px;
    border: 25px solid rgb(121, 64, 43);
    box-shadow:
    -5px -5px 1px rgb(168, 85, 55),
    inset -5px -4px 1px rgb(168, 85, 55),
    inset -4px -4px 6px rgba(66, 38, 19, 0.748),
    6px 6px 1px rgb(79, 41, 28), 
    inset 6px 6px 2px rgb(79, 41, 28),
    5px 5px 10px rgba(109, 24, 24, 0.748),
    6px 6px 4px rgba(76, 44, 22, 0.748) inset;
}

.gal-7 {
    grid-area: 4/ 8 / 6 / 10;
    justify-self:flex-end;
    align-self:end;
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);
    transform: rotate(3deg) translateX(19px);
    z-index:9;
}

.gal-2 {
    z-index:8;
    grid-area: 2 /5 /5 / 8;
    justify-self:right;
    align-content:baseline;
    transform: rotate(4deg);
    box-shadow:1px 1px 4px rgb(52, 29, 22);
}

.gal-3 {
    z-index:6;
    grid-area: 5 / 2 / 8 / 5;
    box-shadow:1px 1px 4px rgb(52, 29, 22);
    transform: rotate(2deg);
    position:absolute;
    right:75px;
}

.gal:hover{
    transform: rotate(0deg) scale(1.35);
    transition: transform 0.3s ease;
    z-index:15;
}

.gal-4 {
    z-index:8;
    grid-area: 5 / 6 / 8 / 9;
    justify-self: start;
    align-self:center;
    transform: rotate(-4deg) translateY(52px);
    position:absolute;
    left:45px;
    box-shadow:1px 1px 4px rgb(52, 29, 22);
}

.gal-5 {
    z-index:7;
    grid-area: 2 / 2 / 5 / 4;
    transform: rotate(-2deg);
    box-shadow:1px 1px 4px rgb(52, 29, 22);
}

.gal-6 {
    z-index:5;
    grid-area: 2 / 10 / 5 / 12;
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);
    transform: translateY(-5px)rotate(-2deg);
}

.gal-8 {
    z-index:3;
    border-radius:150px;
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);    
    grid-area: 6 / 4 / 8 / 6;
    position:absolute;
    top:50px;
    left:40px;
}

.gal-9 {
    z-index:7;
    grid-area: 6 / 10 / 8 / 12;
    position:absolute;
    left:35px;
    bottom:40px;
    transform:rotate(5deg);
}

.gal-10 {
    z-index:8;
    grid-area: 4 / 4 / 6 / 6;
    background-color:rgb(255, 203, 219);
    padding-top:50px;
    width: 150px;
    height:115px;
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);
    color:black;
    text-align:center;
    font-family:'Times New Roman', serif;
    transform: rotate(-6deg);
}

.gal-11 {
    font-family:cursive;
    line-height: 18px;
    z-index:8;
    grid-area: 8 / 11 / 9 / 13;
    color:rgb(43, 42, 42);
    background-color: rgb(249, 249, 249);
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
    background-size: 375px;
    padding-top:40px;
    padding: 35px 25px 40px 25px;
    height: 180px;
    width: 160px;
    text-align: left;
    box-shadow:1px 1px 6px rgba(52, 29, 22, 0.69);
    transform: rotate(-1deg) translateY(-27px);

}

.gal-12 {
    z-index:7;
    grid-area: 2 / 9 / 3 / 10;
    position:absolute;
    right:20px;
    top:10px;
}

/* inner tack grid */

.tack-grid {
    position:relative;
    grid-area: 2 / 2 / 8 / 13;
    display:grid;
    grid-template-rows: repeat(12, 50px);
    grid-template-columns: repeat(23, 50px);
}

.tack-1 {
    z-index:10;
    grid-area: 1 / 2 / 2 / 3;
    position:absolute;
    left:23px;
    bottom:10px;
}

.tack-2 {
    z-index:10;
    grid-area: 1 / 10 / 2 / 11;
    position:absolute;
    bottom:10px;
    right:30px;
}

.tack-3 {
    z-index:10;
    grid-area: 1 / 19 / 2 / 20;
    position:absolute;
    bottom: 8px;
    right:3px;
}

.tack-4 {
    z-index:10;
    grid-area: 7 / 3 / 7 / 4;
    position:absolute;
    bottom: 17px;
    right:3px;
}

.tack-5 {
    z-index:10;
    grid-area: 8 / 12 / 8 / 13;
    position:absolute;
    top:9px;
    left:28px;
}

.tack-6 {
    z-index:10;
    grid-area: 6 / 16 / 6 / 17;
    position:absolute;
    bottom: 15px;
    right:22px;
}

.tack-7 {
    z-index:10;
    grid-area: 12 / 21 / 13 / 22;
    justify-self:flex-end;
    position:absolute;
    top:12px;
    right:26px;
}

.tack-8 {
    z-index:10;
    grid-area: 5 / 6 / 6 / 7;
    position:absolute;
    bottom:10px;
    right:5px;
}

.tack-9 {
    z-index:10;
    grid-area: 2 / 23 / 3 / 24;
    position:absolute;
    right:10px; 
}

.tack-10 {
    z-index:10;
    grid-area: 7 / 10 / 8 / 11;
}

.tack-11 {
    z-index:10;
    grid-area: 2 / 14 / 3 / 15;
    justify-self:flex-end;
    position:absolute;
}