body {
    background-color: rgb(163, 228, 149);
    background-image: url("../img/wavecut.png");
    background-blend-mode: lighten;
    background-repeat: repeat;
    color: white;
    margin: 5;
    font-family: system-ui;
}